<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户管理')" />
	<th:block th:include="include :: layout-latest-css" />
</head>
<body class="gray-bg">
	<div class="ui-layout-center">
		<div class="container-div">
			<div class="row">
				<div class="col-sm-12 search-collapse">
					<form id="orderWeight-form">
						<div class="select-list">
							<ul>
								<li>
									用户名：<input type="text" name="username"/>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
									<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
								</li>
							</ul>
						</div>
					</form>
				</div>
				
		        <div class="btn-group-sm" id="toolbar" role="group">
					<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="user:add">
						<i class="fa fa-plus"></i> 新增
					</a>
		            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="user:export">
			            <i class="fa fa-download"></i> 导出
			        </a>
					<a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="user:import">
						<i class="fa fa-upload"></i> 导入
					</a>
		        </div>
		        
		        <div class="col-sm-12 select-table table-striped">
				    <table id="bootstrap-table"></table>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<script th:inline="javascript">
		var prefix = ctx + "user";

		$(function() {
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
	     	// 回到顶部绑定
	    	if ($.fn.toTop !== undefined) {
	    		var opt = {
	    			win:$('.ui-layout-center'),
	    			doc:$('.ui-layout-center')
	    		};
	    		$('#scroll-up').toTop(opt);
	    	}
			queryUserList();
		});

		//发送请求
		function queryUserList() {
		    var options = {
		        url: prefix + "/pageGetUserList",
				createUrl: prefix + "/add",
		        exportUrl: prefix + "/exportUser",
		        modalName: "用户管理",
		        columns: [
		        {
		            field: 'id',
		            title: '标识'
		        },
				{
					field: 'unionid',
					title: '用户唯一标识'
				},
				{
					field: 'username',
					title: '用户名'
				},{
					field: 'createdTime',
					title: '创建时间'
				},
				{
					field: 'modifiedTime',
					title: '更新时间'
				}]
		    };
		    $.table.init(options);
		}
	</script>

	<!-- 导入区域 -->
	<script id="importTpl" type="text/template">
		<form enctype="multipart/form-data" class="mt20 mb10">
			<div class="col-xs-offset-1">
				<input type="file" id="file" name="file"/>
				<div class="mt10 pt5">
					<input type="checkbox" id="updateSupport" name="updateSupport" title="如果登录账户已经存在，更新这条数据。"> 是否更新已经存在的用户数据
					&nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
				</div>
				<font color="red" class="pull-left mt10">
					提示：仅允许导入“xls”或“xlsx”格式文件！
				</font>
			</div>
		</form>
	</script>
</body>
</html>