<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwl.demo.mapper.UserMapper">

    <!--插入用户信息    -->
    <insert id="insertUser" parameterType="com.zhwl.demo.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into physical_user(unionid,username) values (#{unionid},#{username})
    </insert>

    <select id="selectUserByUserName" resultType="com.zhwl.demo.po.User" parameterType="String">
        select * from physical_user where username = #{username}
    </select>

</mapper>